
# Build
# Docker
# Environment
# IDE
# Logs
# OS
# PID
# Temp
# Test
*.class
*.iml
*.jar
*.log
*.swo
*.swp
*.temp
*.tmp
*.war
*.xlsx
*.zip
.DS_Store
.classpath
.env
.env.*.local
.env.local
.idea/
.pid/
.project
.recommenders/
.settings/
.vscode/
/coverage/
Thumbs.db
data/ftp-root/staging/*.zip
data/ftp-root/upload/test/archive/*.xlsx
dist/
docker/mysql/
docker/vsftpd/
logs/
node_modules/
rebel.xml
target/
tmp/
