<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.report.mapper.DwdCleanTestFlowMapper">

    <select id="aggregateByName" resultType="com.report.entity.dws.DwdTestFlowAgg">
        SELECT
            name,
            SUM(amount) AS totalAmount,
            #{partitionDate} AS ptDt
        FROM dwd_clean_tets_flow
        WHERE pt_dt = #{partitionDate}
        GROUP BY name
    </select>

</mapper>
