<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.report.mapper.TriggerStateRecordMapper">

    <update id="resetTriggered">
        UPDATE trigger_state_record
        SET triggered = 0,
            retry_count = 0,
            update_time = NOW()
        WHERE trigger_code = #{triggerCode}
    </update>

    <update id="updateTriggeredWithVersion">
        UPDATE trigger_state_record
        SET triggered = #{triggered},
            instance_id = #{instanceId},
            retry_count = retry_count + 1,
            update_time = NOW(),
            version = version + 1
        WHERE trigger_code = #{triggerCode}
          AND version = #{version}
    </update>

</mapper>
